.modal{
    visibility: hidden;
    pointer-events: none;
    position: fixed;
    width: 100%;
    height: 100vh;
    left: 0%;
    top: 0%;
    display: flex;
    justify-content: center;
    background-color: rgba(0,0,0,0.7);
    opacity: 0;
    transition: opacity 200ms;
}
.open{
    visibility: visible;
    pointer-events: auto;
    opacity: 1;
}
.modal__content{
    background-color: white;
    width: 300px;
    height: 175px;
    max-height: 30vh;
    max-width: 80%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    position: relative;
    top: 10%;
    border-radius: 5px;
}
.close{
    position: absolute !important;
    right: 10px;
    top: 15px;
    width: 40px;
    height: 40px;
}
form{
    display: flex;
    flex-direction: column;
}
.modal__content form h3{
    margin: 10px 0px 5px 2px;
}
.modal__content form  input{
    margin: 13px 0px;
    outline: none;
}
.modal__content form  input[type=text]{
    padding: 5px;
}
.progress{
    display: none;
    width: 0%;
    height: 13px;
    font-size: 10px;
    background-color: rgb(74, 173, 240);
    color: white;
    text-align: center;
    transition: width .1s;
    border-radius: 5px;
    margin-bottom: 3;
}
.disable{
    cursor: not-allowed;
    pointer-events: none;
    color: #777777 !important;
    background-color: #c9c9c9 !important;
}